/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body
{
  background-color:#203e3f;
  color:#ecf0f1;
  

}

input
{
  margin:10px 0 10px;
}



.sessionList li
{
  list-style: none;
}

.well
{
  background-color: #34595e; 
  border: 1px solid #000000;
}

.votingButton:hover i
{
  color:#ffFFFF;
}

.votingWidget
{
  margin:0 20px 0 0;
  padding:10px 0;
  text-align:center;
}

.votingWidget i
{
  color:#777777;
}

.sessionList
{
  margin-top: 20px;
}



