<!doctype html>
<html lang="en" ng-app="EventsApp">
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="lib/bootstrap.css">
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

  <div class="container">
    <div class="navbar navbar-default">      
        <ul class="nav navbar-nav">
          <li><a href="./NewEvent.html">New Event</a></li>
          <li><a href="./UserPage.html">View User</a></li>
        </ul>
    </div>
    <div class='ng-cloak' ng-controller="EventsController">
      <div class="row">
        <div class="col-md-11"><h1>{{event.name}}</h1></div>
      </div>
      <div class="row">
          <div class="col-md-3">
            <h2>{{event.date}}</h2>
            <h2>{{event.time}}</h2>
          </div>      
          <div class="col-md-4">
          <address>
            <h2>{{event.location.address}}</h2>
            <h3>{{event.location.city}}, {{event.location.state}}</h3>
          </address>
        </div>
      </div>
      <select ng-model="sortorder" class="input-small">
        <option value="name">Name</option>
        <option value="-upVoteCount">Votes</option>
      </select>
      <select ng-model="query.level" class="input-small">
        <option value="">All</option>
        <option value="Introductory">Introductory</option>
        <option value="intermediary">Intermediary</option>
        <option value="Advanced">Advanced</option>
      </select>
      <ul class='sessionList'>
        <li ng-repeat="session in event.sessions | orderBy:sortorder | filter:query">
          <div class="row session">
            <div class="col-md-1 well votingWidget">
        
              <div class="votingButton" ng-click='incrementVoteCount(session)'>
                <i class="glyphicon glyphicon-chevron-up icon-white"></i>
              </div> 
        
              <div class="badge badge-inverse">
                <div>{{session.upVoteCount}}</div>
              </div> 
        
             <div class="votingButton" ng-click='decrementVoteCount(session)'>
                <i class="glyphicon glyphicon-chevron-down icon-white"></i>
              </div>
        
            </div> <!-- END votingWidget -->
            <div class="well col-md-9">
              <h4 class="well-title">{{session.name}}</h4>
                <p>{{session.creatorName}}</p>
                <p>{{session.duration}}</p>
                <p><i>{{session.level}}</i>
                <p>{{session.abstract}}</p>
              </h4>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>


  
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/EventsController.js"></script>
  <script src="js/services/EventData.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
